@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  html,
  body,
  #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
}

@font-face {
  font-family: 'Voster';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/voster-typeface.woff2') format('woff2'),
    url('/fonts/voster-typeface.woff') format('woff');
}
